.navbar-brand
{
    font-family: 'Be Vietnam Pro', sans-serif;
    font-weight: bold;
    font-size: 150%;
    padding: 1em;
}

.navbar-nav
{
    margin-left: 2rem;
    font-size: 130%;
    font-weight: bold;
}

.nav-item
{
    margin-left: 2rem;

}
