.img{
    margin-bottom: 5rem;
    margin-left: 2rem;
}

h3{
    text-align: center;
    margin-top: 5rem;
           background: -webkit-linear-gradient(#2397c6, #64e1e8);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    margin-bottom: 2rem;
    font-weight: bold;
}

p
{
    text-align: center;
    margin-top: 1rem;
    
 
    margin-bottom: 2rem;
    font-size: 110%;
}

.con {
    text-align: center;
    color: black;
    margin-top: 3em;
  }
  // .box {
  //   border: 1px solid black;
  //   padding: 1em;
  //   margin-bottom: 1em;
  //   margin-left: 2em;
  //   width: 90%;
  //   text-align: justify;
  //   color:black;
  //   background-color: white;
  //   box-sizing: border-box;
  //   display: block;
  // }
  // .box:hover {
  //   border: 1px solid;
  //   padding: 1em;
  //   margin-bottom: 1em;
  //   margin-left: 2em;
  //   width: 90%;
  //   color:white;
  //   background-color: rgb(98, 108, 186);
  // }
  
  .card
  {
    margin-top: 1em;
    margin-bottom: 2em;
width: 90%;
margin-left: 2em;
  }

  .card-body
  {
    text-align: justify;
  }

  .card:hover
  {
    background: -webkit-linear-gradient(#2397c6, #64e1e8);

  }