<div class="row">
    <div class="col-sm-7">
<h3>MOBILE APP DEVELOPMENT SERVICES</h3>
<p>Create a mobile app that helps your customers connect with your services and products straight from their Android or iOS or devices.</p>
    </div>
    <div class="col-sm-5">
        <img src="/assets/mobileapp.png" [ngStyle]="{'text-align':'center','width':'100%','height': '100%'}">

    </div>
</div>



    <div class="row">
      <div class="col-sm-6">
        <div class="card">
          <div class="card-body">
            Azotos is a company specializing in mobile applications development and holding a portfolio of dozens of successful projects differing in complexity and designed for various business areas. We take on the whole cycle of development, starting with concept development and finishing with final product introduction.
          </div>
        </div></div>
    
    
      <div class="col-sm-6">
        <div class="card">
        <div class="card-body">
          Our experience and skills, combined with advanced tools and technologies utilized, allow us to develop complex, scalable, and functional mobile apps for iOS, Android, or any other platform.
        </div></div>
        </div>

      </div>
 
  
  

