.img{
    margin-bottom: 5rem;
    margin-left: 2rem;
}

h3{
    text-align: center;
    margin-top: 5rem;
           background: -webkit-linear-gradient(#2397c6, #64e1e8);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    margin-bottom: 2rem;
    font-weight: bold;
}

p
{
    text-align: center;
    margin-top: 1rem;
 
    margin-bottom: 2rem;
    font-size: 110%;
}

.card{
    width: auto;

}