
    <div class="row">
        <div class="col-sm-7">
<h3>Empowering Your Business Innovation with Our Custom Software Development Services</h3>
<p>With 2+ years of experience, we have developed over 10+ software products, proving our expertise in the design and development of tech products. Our custom software applications meet your specific use case, budget, and timeline.</p>
<p><button class="btn btn-primary" style="background-color: #35accf;" type="submit" [routerLink]="['/contact']">Let's Talk</button></p>
&nbsp;&nbsp;

        </div>
        <div class="col-sm-5">
            <img src="/assets/frontpage.png" [ngStyle]="{'text-align':'center','width':'100%','height': '100%'}">

        </div>
    </div>

<hr style="border: 0px;">

<h3>About us</h3>

<div class="row">
    <div class="col-sm-5">
        <img src="/assets/about.png" [ngStyle]="{'text-align':'center','width':'100%','height': '100%'}">

    </div>
    <div class="col-sm-7" >
        <p style="margin-top: 5rem;">Founded in 2023, Profile Software is a leading software solutions provider for the Banking and Investment Management industries. The company has a presence in Europe, the Middle East, America, Asia and Africa delivering innovative solutions to both start-ups and established banking & finance institutions, through direct communication or a reliable partners network.</p>

    </div>
</div>

<hr style="border: 0px;">

<h3>What our Client's Say</h3>
<!-- <div class="row">
    <div class="col-sm-3">

    </div>
    <div class="col-sm-9">
<div class="box">
    <p>"rem ipsum dolor sit amet, consectetur adipiscing elit. Donec ullamcorper neque dapibus ipsum semper, sit amet luctus turpis porttitor. Ut libero ante, varius quis ligula in, aliquet consectetur tortor."</p>
</div>

</div>    
</div> -->

<div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <!-- <img src="/assets/comic.jpg" class="d-block w-100" alt="..."> -->
        <div class="box">
            <p>"rem ipsum dolor sit amet, consectetur adipiscing elit. Donec ullamcorper neque dapibus ipsum semper, sit amet luctus turpis porttitor. Ut libero ante, varius quis ligula in, aliquet consectetur tortor."</p>
        </div>
        <div class="carousel-caption d-none d-md-block">
         

       
      </div> 
      </div>
      <div class="carousel-item">

<!-- <img src="/assets/bg5.jpg" class="d-block w-100" alt="..."> -->
<div class="box">
    <p>"rem ipsum dolor sit amet, consectetur adipiscing elit. Donec ullamcorper neque dapibus ipsum semper, sit amet luctus turpis porttitor. Ut libero ante, varius quis ligula in, aliquet consectetur tortor."</p>
</div>
        <div class="carousel-caption d-none d-md-block">
    
  

        </div>

      </div>
      <div class="carousel-item">
        <!-- <img src="/assets/rem.png" class="d-block w-100" alt="..."> -->
        <div class="box">
            <p>"rem ipsum dolor sit amet, consectetur adipiscing elit. Donec ullamcorper neque dapibus ipsum semper, sit amet luctus turpis porttitor. Ut libero ante, varius quis ligula in, aliquet consectetur tortor."</p>
        </div>
        <div class="carousel-caption d-none d-md-block">

     
      </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

  <h3>FAQ</h3>


  <div class="container">
    <mat-accordion>
  
      <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
        <mat-expansion-panel-header class="disable_ripple">
          <mat-panel-title>
            How long does it take to develop custom software?     
               </mat-panel-title>
        </mat-expansion-panel-header>
        <p style="text-align: justify;">The duration of custom software development projects can vary widely depending on factors such as project complexity, scope of features, and the development methodology employed. Smaller projects with limited requirements may be completed within a few weeks, while more extensive endeavors could take several months or even longer.</p>
      </mat-expansion-panel>
  
      <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
          <mat-panel-title>
            How long does software development take?
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p style="text-align: justify;">We cannot possibly answer this question precisely because there are projects finished in 2 to 3 weeks, but there are also tasks that take several years to complete. </p>

        <p style="text-align: justify;">To provide you with a precise answer, we have to evaluate the project complexity and the work scope. Knowing this information, we can provide you with the estimated time frame.</p>
      </mat-expansion-panel>
  
      <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
          <mat-panel-title>
            How do you guarantee the product quality?          </mat-panel-title>
        </mat-expansion-panel-header>
        <p style="text-align: justify;">We work in a short iteration mode and regularly test the work results, taking into account all customer preferences and the target audience reaction. This approach allows us to provide our customers with high-quality products, observing the specified deadlines. Quality is our top priority.</p>
      </mat-expansion-panel>
  
      <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Digital Quality Picture & Sound
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p style="text-align: justify;">Our network sets a new standard in video and audio delivery to the home. See digital crispness. Hear digital
          clarity. Whether you connect your Digital Cable through a home theatre system, or simply through an ordinary
          television, you’ll appreciate the difference digital quality makes. And you’ll enjoy it without the weather
          interference problems of satellite services.</p>
      </mat-expansion-panel>
     
   
    </mat-accordion>
  </div>
  
